

<mat-toolbar color="primary" class="app-header">
    <div><a href="https://www.mcbi.com.au/" target="_blank" ><img width="180" class="logo_image" src="./assets/images/logo.png"/></a></div>
    <span class="nav-tool-items" fxFlex fxLayout fxLayoutAlign="flex-end">
    <div class="box-icon" *ngIf="!sharedService.isLoggedin">
      <a mat-button fxFlex mat-raised-button routerLink="login" routerLinkActive="active">Log in</a>
      <a mat-button fxFlex mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
    </div>
    <a mat-button mat-raised-button (click)="logout()"routerLinkActive="active" *ngIf="sharedService.isLoggedin">Logout</a>

    </span>
</mat-toolbar>