<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  
  <mat-card class="box">
      <mat-card-header>
          <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <form [formGroup]="_loginForm"  (ngSubmit)="onSubmit()">
          <mat-card-content>
          
              <mat-form-field class="div-full">
                  <input matInput placeholder="Email Address" class="input" type="text" formControlName="email">
                  <mat-error  *ngIf="f.email.errors?.required">Email Address is required</mat-error>
                  <mat-error  *ngIf="f.email.errors?.email">Email format mismatched</mat-error>
    
              </mat-form-field>

              <mat-form-field class="div-full">
                  <input matInput placeholder="Password" class="input" type="password" formControlName="password">
                  <mat-error  *ngIf="f.password.errors?.required">Password is required</mat-error>
              </mat-form-field>

            



          </mat-card-content>
          <button mat-stroked-button color="accent"  class="btn-block">Log in</button>
      </form>
      

  </mat-card>



</div>